USE [master]
GO
/****** Object:  Database [DATN_SevenStrike]    Script Date: 2/21/2026 11:22:44 PM ******/
CREATE DATABASE [DATN_SevenStrike]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATN_SevenStrike', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DATN_SevenStrike.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATN_SevenStrike_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DATN_SevenStrike_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATN_SevenStrike].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATN_SevenStrike]
GO
/****** Object:  Table [dbo].[anh_chi_tiet_san_pham]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anh_chi_tiet_san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_chi_tiet_san_pham] [int] NOT NULL,
	[duong_dan_anh] [varchar](255) NOT NULL,
	[la_anh_dai_dien] [bit] NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_thuong_hieu] [int] NOT NULL,
	[id_xuat_xu] [int] NULL,
	[id_vi_tri_thi_dau] [int] NULL,
	[id_phong_cach_choi] [int] NULL,
	[id_co_giay] [int] NULL,
	[id_chat_lieu] [int] NULL,
	[ma_san_pham]  AS ('SP'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_san_pham] [nvarchar](255) NOT NULL,
	[mo_ta_ngan] [nvarchar](500) NULL,
	[mo_ta_chi_tiet] [nvarchar](max) NULL,
	[trang_thai_kinh_doanh] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[nguoi_tao] [int] NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[nguoi_cap_nhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_san_pham]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_san_pham] [int] NOT NULL,
	[id_mau_sac] [int] NOT NULL,
	[id_kich_thuoc] [int] NOT NULL,
	[id_loai_san] [int] NOT NULL,
	[id_form_chan] [int] NOT NULL,
	[ma_chi_tiet_san_pham]  AS ('CTSP'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[so_luong] [int] NOT NULL,
	[gia_niem_yet] [decimal](18, 2) NOT NULL,
	[gia_ban] [decimal](18, 2) NULL,
	[trang_thai] [bit] NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[nguoi_tao] [int] NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[nguoi_cap_nhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_san_pham_thumb]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------
-- 6) VIEW - THUMBNAIL SẢN PHẨM ONLINE (GIỮ Ý TƯỞNG CŨ)
----------------------------------------------------------------
create   view [dbo].[vw_san_pham_thumb]
as
select
    sp.id as id_san_pham,
    sp.ma_san_pham,
    sp.ten_san_pham,
    sp.trang_thai_kinh_doanh,

    pick.id_ctsp_thumb,
    pick.duong_dan_anh_thumb
from dbo.san_pham sp
outer apply (
    select top 1
        ctsp.id as id_ctsp_thumb,
        a.duong_dan_anh as duong_dan_anh_thumb
    from dbo.chi_tiet_san_pham ctsp
    join dbo.anh_chi_tiet_san_pham a
        on a.id_chi_tiet_san_pham = ctsp.id
       and a.xoa_mem = 0
       and a.la_anh_dai_dien = 1
    where
        ctsp.id_san_pham = sp.id
        and ctsp.xoa_mem = 0
        and ctsp.trang_thai = 1
    order by
        case when ctsp.so_luong > 0 then 0 else 1 end,
        ctsp.id asc
) pick
where sp.xoa_mem = 0;
GO
/****** Object:  Table [dbo].[ca_lam]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ca_lam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_ca]  AS ('CA'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_ca] [nvarchar](100) NOT NULL,
	[gio_bat_dau] [time](0) NOT NULL,
	[gio_ket_thuc] [time](0) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_lieu]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_lieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_chat_lieu]  AS ('CL'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_chat_lieu] [nvarchar](255) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_dot_giam_gia]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_dot_giam_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_dot_giam_gia] [int] NOT NULL,
	[id_chi_tiet_san_pham] [int] NOT NULL,
	[so_luong_ap_dung] [int] NULL,
	[gia_tri_giam_rieng] [decimal](18, 2) NULL,
	[so_tien_giam_toi_da_rieng] [decimal](18, 2) NULL,
	[trang_thai] [bit] NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[nguoi_tao] [int] NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[nguoi_cap_nhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuc_nang]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuc_nang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_chuc_nang] [varchar](50) NOT NULL,
	[ten_chuc_nang] [nvarchar](255) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[co_giay]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[co_giay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_co_giay]  AS ('CG'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_co_giay] [nvarchar](255) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dia_chi_khach_hang]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dia_chi_khach_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_khach_hang] [int] NOT NULL,
	[ma_dia_chi]  AS ('DC'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_dia_chi] [nvarchar](255) NOT NULL,
	[thanh_pho] [nvarchar](255) NULL,
	[quan] [nvarchar](255) NULL,
	[phuong] [nvarchar](255) NULL,
	[dia_chi_cu_the] [varchar](255) NULL,
	[mac_dinh] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dot_giam_gia]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dot_giam_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_dot_giam_gia]  AS ('DGG'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_dot_giam_gia] [nvarchar](255) NOT NULL,
	[loai_giam_gia] [bit] NOT NULL,
	[gia_tri_giam_gia] [decimal](18, 2) NOT NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_ket_thuc] [date] NOT NULL,
	[muc_uu_tien] [int] NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[form_chan]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[form_chan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_form_chan]  AS ('FC'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_form_chan] [nvarchar](255) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giao_ca]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giao_ca](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_giao_ca]  AS ('GC'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[id_lich_lam_viec] [int] NOT NULL,
	[id_nhan_vien] [int] NOT NULL,
	[id_giao_ca_truoc] [int] NULL,
	[thoi_gian_nhan_ca] [datetime2](7) NOT NULL,
	[thoi_gian_ket_ca] [datetime2](7) NULL,
	[tien_ban_giao_du_kien] [decimal](18, 2) NOT NULL,
	[tien_dau_ca_nhap] [decimal](18, 2) NULL,
	[da_xac_nhan_tien_dau_ca] [bit] NOT NULL,
	[trang_thai] [int] NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[nguoi_tao] [int] NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[nguoi_cap_nhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giao_dich_thanh_toan]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giao_dich_thanh_toan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_hoa_don] [int] NOT NULL,
	[id_phuong_thuc_thanh_toan] [int] NOT NULL,
	[ma_giao_dich_thanh_toan]  AS ('GDTT'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[so_tien] [decimal](18, 2) NOT NULL,
	[trang_thai] [nvarchar](30) NOT NULL,
	[ma_yeu_cau] [nvarchar](100) NULL,
	[ma_giao_dich_ngoai] [nvarchar](100) NULL,
	[ma_tham_chieu] [nvarchar](100) NULL,
	[duong_dan_thanh_toan] [nvarchar](500) NULL,
	[du_lieu_qr] [nvarchar](max) NULL,
	[thoi_gian_het_han] [datetime2](7) NULL,
	[du_lieu_phan_hoi] [nvarchar](max) NULL,
	[thoi_gian_tao] [datetime2](7) NOT NULL,
	[thoi_gian_cap_nhat] [datetime2](7) NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_khach_hang] [int] NULL,
	[id_nhan_vien] [int] NULL,
	[id_phieu_giam_gia] [int] NULL,
	[id_phieu_giam_gia_ca_nhan] [int] NULL,
	[ma_hoa_don]  AS ('HD'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[loai_don] [bit] NOT NULL,
	[phi_van_chuyen] [decimal](18, 2) NOT NULL,
	[tong_tien] [decimal](18, 2) NOT NULL,
	[tong_tien_sau_giam] [decimal](18, 2) NOT NULL,
	[tong_tien_giam]  AS (CONVERT([decimal](18,2),[tong_tien]-[tong_tien_sau_giam])) PERSISTED,
	[ten_khach_hang] [nvarchar](255) NOT NULL,
	[dia_chi_khach_hang] [nvarchar](255) NOT NULL,
	[so_dien_thoai_khach_hang] [varchar](12) NOT NULL,
	[email_khach_hang] [varchar](255) NULL,
	[trang_thai_hien_tai] [int] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[ngay_thanh_toan] [datetime2](7) NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
	[nguoi_tao] [int] NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[nguoi_cap_nhat] [int] NULL,
	[id_giao_ca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don_chi_tiet]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don_chi_tiet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_hoa_don] [int] NOT NULL,
	[id_chi_tiet_san_pham] [int] NOT NULL,
	[ma_hoa_don_chi_tiet]  AS ('HDCT'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[so_luong] [int] NOT NULL,
	[don_gia] [decimal](18, 2) NOT NULL,
	[thanh_tien]  AS (CONVERT([decimal](18,2),[so_luong]*[don_gia])) PERSISTED,
	[ghi_chu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_khach_hang]  AS ('KH'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_khach_hang] [nvarchar](255) NOT NULL,
	[ten_tai_khoan] [varchar](255) NOT NULL,
	[mat_khau] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[so_dien_thoai] [varchar](12) NULL,
	[gioi_tinh] [bit] NULL,
	[ngay_sinh] [date] NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[nguoi_tao] [int] NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[nguoi_cap_nhat] [int] NULL,
	[anh_dai_dien] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kich_thuoc]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kich_thuoc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_kich_thuoc]  AS ('KT'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_kich_thuoc] [nvarchar](50) NOT NULL,
	[gia_tri_kich_thuoc] [decimal](4, 1) NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_lam_viec]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_lam_viec](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_ca_lam] [int] NOT NULL,
	[ngay_lam] [date] NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[nguoi_tao] [int] NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[nguoi_cap_nhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_lam_viec_nhan_vien]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_lam_viec_nhan_vien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_lich_lam_viec] [int] NOT NULL,
	[id_nhan_vien] [int] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[nguoi_tao] [int] NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[nguoi_cap_nhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_su_hoa_don]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_hoa_don] [int] NOT NULL,
	[trang_thai] [int] NOT NULL,
	[thoi_gian] [datetime2](7) NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_san]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_san](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_loai_san]  AS ('LS'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_loai_san] [nvarchar](255) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mau_sac]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mau_sac](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_mau_sac]  AS ('MS'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_mau_sac] [nvarchar](255) NOT NULL,
	[ma_mau_hex] [varchar](7) NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_quyen_han] [int] NOT NULL,
	[ma_nhan_vien]  AS ('NV'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_nhan_vien] [nvarchar](255) NOT NULL,
	[ten_tai_khoan] [varchar](255) NOT NULL,
	[mat_khau] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[so_dien_thoai] [varchar](12) NULL,
	[anh_nhan_vien] [nvarchar](max) NULL,
	[ngay_sinh] [date] NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[thanh_pho] [nvarchar](255) NULL,
	[quan] [nvarchar](255) NULL,
	[phuong] [nvarchar](255) NULL,
	[dia_chi_cu_the] [varchar](255) NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
	[nguoi_tao] [int] NULL,
	[ngay_cap_nhat] [datetime2](7) NULL,
	[nguoi_cap_nhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_giam_gia]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_giam_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_phieu_giam_gia]  AS ('PGG'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_phieu_giam_gia] [nvarchar](255) NOT NULL,
	[loai_phieu_giam_gia] [bit] NOT NULL,
	[gia_tri_giam_gia] [decimal](18, 2) NOT NULL,
	[so_tien_giam_toi_da] [decimal](18, 2) NULL,
	[hoa_don_toi_thieu] [decimal](18, 2) NULL,
	[so_luong_su_dung] [int] NOT NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_ket_thuc] [date] NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_giam_gia_ca_nhan]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_giam_gia_ca_nhan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_khach_hang] [int] NOT NULL,
	[id_phieu_giam_gia] [int] NOT NULL,
	[ma_phieu_giam_gia_ca_nhan]  AS ('PGGCN'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ngay_nhan] [date] NOT NULL,
	[da_su_dung] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
	[da_gui_mail] [bit] NOT NULL,
	[ngay_gui_mail] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_giam_gia_chi_tiet]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_giam_gia_chi_tiet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_phieu_giam_gia] [int] NOT NULL,
	[id_khach_hang] [int] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong_cach_choi]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong_cach_choi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_phong_cach]  AS ('PC'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_phong_cach] [nvarchar](255) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phuong_thuc_thanh_toan]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phuong_thuc_thanh_toan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_phuong_thuc_thanh_toan]  AS ('PTTT'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_phuong_thuc_thanh_toan] [nvarchar](255) NOT NULL,
	[nha_cung_cap] [nvarchar](50) NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quyen_han]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quyen_han](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_quyen_han]  AS ('QH'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_quyen_han] [nvarchar](255) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quyen_han_chuc_nang]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quyen_han_chuc_nang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_quyen_han] [int] NOT NULL,
	[id_chuc_nang] [int] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thuong_hieu]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thuong_hieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_thuong_hieu]  AS ('TH'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_thuong_hieu] [nvarchar](255) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vi_tri_thi_dau]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vi_tri_thi_dau](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_vi_tri]  AS ('VT'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_vi_tri] [nvarchar](255) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xuat_xu]    Script Date: 2/21/2026 11:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xuat_xu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_xuat_xu]  AS ('XX'+right('00000'+CONVERT([varchar](5),[id]),(5))) PERSISTED,
	[ten_xuat_xu] [nvarchar](255) NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[xoa_mem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[anh_chi_tiet_san_pham] ON 

INSERT [dbo].[anh_chi_tiet_san_pham] ([id], [id_chi_tiet_san_pham], [duong_dan_anh], [la_anh_dai_dien], [mo_ta], [xoa_mem]) VALUES (1, 1, N'/uploads/demo/ctsp_1C:\Users\ducdu\OneDrive\Hi`nh a?nh\WutheringWave\Encore.jpg', 1, N'Ảnh đại diện demo', 0)
INSERT [dbo].[anh_chi_tiet_san_pham] ([id], [id_chi_tiet_san_pham], [duong_dan_anh], [la_anh_dai_dien], [mo_ta], [xoa_mem]) VALUES (2, 1, N'/uploads/demo/ctsp_1C:\Users\ducdu\OneDrive\Hi`nh a?nh\WutheringWave\Encore.jpg', 0, N'Ảnh phụ demo', 0)
INSERT [dbo].[anh_chi_tiet_san_pham] ([id], [id_chi_tiet_san_pham], [duong_dan_anh], [la_anh_dai_dien], [mo_ta], [xoa_mem]) VALUES (3, 2, N'/uploads/demo/ctsp_2C:\Users\ducdu\OneDrive\Hi`nh a?nh\WutheringWave\Encore.jpg', 1, N'Ảnh đại diện demo', 0)
SET IDENTITY_INSERT [dbo].[anh_chi_tiet_san_pham] OFF
GO
SET IDENTITY_INSERT [dbo].[chat_lieu] ON 

INSERT [dbo].[chat_lieu] ([id], [ten_chat_lieu], [trang_thai], [xoa_mem]) VALUES (1, N'Da tổng hợp', 1, 0)
INSERT [dbo].[chat_lieu] ([id], [ten_chat_lieu], [trang_thai], [xoa_mem]) VALUES (2, N'Da thật', 1, 0)
INSERT [dbo].[chat_lieu] ([id], [ten_chat_lieu], [trang_thai], [xoa_mem]) VALUES (3, N'Vải dệt', 1, 0)
SET IDENTITY_INSERT [dbo].[chat_lieu] OFF
GO
SET IDENTITY_INSERT [dbo].[chi_tiet_dot_giam_gia] ON 

INSERT [dbo].[chi_tiet_dot_giam_gia] ([id], [id_dot_giam_gia], [id_chi_tiet_san_pham], [so_luong_ap_dung], [gia_tri_giam_rieng], [so_tien_giam_toi_da_rieng], [trang_thai], [ghi_chu], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (1, 1, 1, NULL, NULL, CAST(300000.00 AS Decimal(18, 2)), 1, N'Demo áp dụng', 0, CAST(N'2026-02-14T23:39:56.6982079' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[chi_tiet_dot_giam_gia] ([id], [id_dot_giam_gia], [id_chi_tiet_san_pham], [so_luong_ap_dung], [gia_tri_giam_rieng], [so_tien_giam_toi_da_rieng], [trang_thai], [ghi_chu], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (2, 1, 2, NULL, NULL, CAST(300000.00 AS Decimal(18, 2)), 1, N'Demo áp dụng', 0, CAST(N'2026-02-14T23:39:56.6982079' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[chi_tiet_dot_giam_gia] ([id], [id_dot_giam_gia], [id_chi_tiet_san_pham], [so_luong_ap_dung], [gia_tri_giam_rieng], [so_tien_giam_toi_da_rieng], [trang_thai], [ghi_chu], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (3, 1, 3, NULL, NULL, CAST(300000.00 AS Decimal(18, 2)), 1, N'Demo áp dụng', 0, CAST(N'2026-02-14T23:39:56.6982079' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[chi_tiet_dot_giam_gia] OFF
GO
SET IDENTITY_INSERT [dbo].[chi_tiet_san_pham] ON 

INSERT [dbo].[chi_tiet_san_pham] ([id], [id_san_pham], [id_mau_sac], [id_kich_thuoc], [id_loai_san], [id_form_chan], [so_luong], [gia_niem_yet], [gia_ban], [trang_thai], [ghi_chu], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (1, 1, 1, 4, 2, 2, 20, CAST(2500000.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), 1, N'Demo', 0, CAST(N'2026-02-14T23:39:56.6795241' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[chi_tiet_san_pham] ([id], [id_san_pham], [id_mau_sac], [id_kich_thuoc], [id_loai_san], [id_form_chan], [so_luong], [gia_niem_yet], [gia_ban], [trang_thai], [ghi_chu], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (2, 1, 1, 5, 2, 2, 15, CAST(2500000.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), 1, N'Demo', 0, CAST(N'2026-02-14T23:39:56.6795241' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[chi_tiet_san_pham] ([id], [id_san_pham], [id_mau_sac], [id_kich_thuoc], [id_loai_san], [id_form_chan], [so_luong], [gia_niem_yet], [gia_ban], [trang_thai], [ghi_chu], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (3, 1, 3, 5, 2, 2, 10, CAST(2550000.00 AS Decimal(18, 2)), CAST(2250000.00 AS Decimal(18, 2)), 1, N'Demo', 0, CAST(N'2026-02-14T23:39:56.6795241' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[chi_tiet_san_pham] OFF
GO
SET IDENTITY_INSERT [dbo].[co_giay] ON 

INSERT [dbo].[co_giay] ([id], [ten_co_giay], [trang_thai], [xoa_mem]) VALUES (1, N'Cổ thấp', 1, 0)
INSERT [dbo].[co_giay] ([id], [ten_co_giay], [trang_thai], [xoa_mem]) VALUES (2, N'Cổ cao', 1, 0)
SET IDENTITY_INSERT [dbo].[co_giay] OFF
GO
SET IDENTITY_INSERT [dbo].[dia_chi_khach_hang] ON 

INSERT [dbo].[dia_chi_khach_hang] ([id], [id_khach_hang], [ten_dia_chi], [thanh_pho], [quan], [phuong], [dia_chi_cu_the], [mac_dinh], [xoa_mem]) VALUES (1, 1, N'Nhà riêng', N'Hà Nội', N'Đống Đa', N'Láng Hạ', N'S? 10 Demo', 1, 0)
INSERT [dbo].[dia_chi_khach_hang] ([id], [id_khach_hang], [ten_dia_chi], [thanh_pho], [quan], [phuong], [dia_chi_cu_the], [mac_dinh], [xoa_mem]) VALUES (2, 2, N'Công ty', N'Hà Nội', N'Cầu Giấy', N'Dịch Vọng', N'S? 20 Demo', 1, 0)
INSERT [dbo].[dia_chi_khach_hang] ([id], [id_khach_hang], [ten_dia_chi], [thanh_pho], [quan], [phuong], [dia_chi_cu_the], [mac_dinh], [xoa_mem]) VALUES (3, 3, N'Nhà riêng', N'Hà Nội', N'Thanh Xuân', N'Khương Đình', N'S? 30 Demo', 1, 0)
SET IDENTITY_INSERT [dbo].[dia_chi_khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[dot_giam_gia] ON 

INSERT [dbo].[dot_giam_gia] ([id], [ten_dot_giam_gia], [loai_giam_gia], [gia_tri_giam_gia], [ngay_bat_dau], [ngay_ket_thuc], [muc_uu_tien], [trang_thai], [xoa_mem]) VALUES (1, N'Demo Sale 10%', 0, CAST(10.00 AS Decimal(18, 2)), CAST(N'2026-02-11' AS Date), CAST(N'2026-02-24' AS Date), 10, 1, 0)
SET IDENTITY_INSERT [dbo].[dot_giam_gia] OFF
GO
SET IDENTITY_INSERT [dbo].[form_chan] ON 

INSERT [dbo].[form_chan] ([id], [ten_form_chan], [trang_thai], [xoa_mem]) VALUES (1, N'Form ôm', 1, 0)
INSERT [dbo].[form_chan] ([id], [ten_form_chan], [trang_thai], [xoa_mem]) VALUES (2, N'Form vừa', 1, 0)
INSERT [dbo].[form_chan] ([id], [ten_form_chan], [trang_thai], [xoa_mem]) VALUES (3, N'Form rộng', 1, 0)
SET IDENTITY_INSERT [dbo].[form_chan] OFF
GO
SET IDENTITY_INSERT [dbo].[giao_dich_thanh_toan] ON 

INSERT [dbo].[giao_dich_thanh_toan] ([id], [id_hoa_don], [id_phuong_thuc_thanh_toan], [so_tien], [trang_thai], [ma_yeu_cau], [ma_giao_dich_ngoai], [ma_tham_chieu], [duong_dan_thanh_toan], [du_lieu_qr], [thoi_gian_het_han], [du_lieu_phan_hoi], [thoi_gian_tao], [thoi_gian_cap_nhat], [ghi_chu], [xoa_mem]) VALUES (1, 1, 1, CAST(2200000.00 AS Decimal(18, 2)), N'thanh_cong', N'REQ_TQ_001', NULL, NULL, NULL, NULL, NULL, N'{"kenh":"TAI_QUAY"}', CAST(N'2026-02-14T23:39:56.8250910' AS DateTime2), CAST(N'2026-02-14T23:39:56.8250910' AS DateTime2), N'Thanh toán tại quầy', 0)
INSERT [dbo].[giao_dich_thanh_toan] ([id], [id_hoa_don], [id_phuong_thuc_thanh_toan], [so_tien], [trang_thai], [ma_yeu_cau], [ma_giao_dich_ngoai], [ma_tham_chieu], [duong_dan_thanh_toan], [du_lieu_qr], [thoi_gian_het_han], [du_lieu_phan_hoi], [thoi_gian_tao], [thoi_gian_cap_nhat], [ghi_chu], [xoa_mem]) VALUES (2, 2, 4, CAST(2230000.00 AS Decimal(18, 2)), N'khoi_tao', N'REQ_COD_ON_001', NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2026-02-14T23:39:56.8250910' AS DateTime2), CAST(N'2026-02-14T23:39:56.8250910' AS DateTime2), N'COD Init', 0)
SET IDENTITY_INSERT [dbo].[giao_dich_thanh_toan] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don] ON 

SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don_chi_tiet] ON 

INSERT [dbo].[hoa_don_chi_tiet] ([id], [id_hoa_don], [id_chi_tiet_san_pham], [so_luong], [don_gia], [ghi_chu], [xoa_mem]) VALUES (1, 1, 1, 1, CAST(2200000.00 AS Decimal(18, 2)), N'Demo tại quầy', 0)
INSERT [dbo].[hoa_don_chi_tiet] ([id], [id_hoa_don], [id_chi_tiet_san_pham], [so_luong], [don_gia], [ghi_chu], [xoa_mem]) VALUES (2, 2, 1, 1, CAST(2200000.00 AS Decimal(18, 2)), N'Demo online', 0)
INSERT [dbo].[hoa_don_chi_tiet] ([id], [id_hoa_don], [id_chi_tiet_san_pham], [so_luong], [don_gia], [ghi_chu], [xoa_mem]) VALUES (3, 3, 11, 1, CAST(2200000.00 AS Decimal(18, 2)), NULL, 0)
SET IDENTITY_INSERT [dbo].[hoa_don_chi_tiet] OFF
GO
SET IDENTITY_INSERT [dbo].[khach_hang] ON 

INSERT [dbo].[khach_hang] ([id], [ten_khach_hang], [ten_tai_khoan], [mat_khau], [email], [so_dien_thoai], [gioi_tinh], [ngay_sinh], [trang_thai], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat], [anh_dai_dien]) VALUES (1, N'Nguyễn Văn A', N'kha', N'123456', N'kha.a@gmail.com', N'0911111111', 1, CAST(N'1999-05-10' AS Date), 1, 0, CAST(N'2026-02-14T23:39:56.5867575' AS DateTime2), NULL, CAST(N'2026-02-15T12:28:31.6295652' AS DateTime2), NULL, N'/uploads/khach_hang/ad4559a07d8549a3bf54c296d1521160.jpg')
INSERT [dbo].[khach_hang] ([id], [ten_khach_hang], [ten_tai_khoan], [mat_khau], [email], [so_dien_thoai], [gioi_tinh], [ngay_sinh], [trang_thai], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat], [anh_dai_dien]) VALUES (2, N'Trần Văn B', N'khb', N'123456', N'khb.b@gmail.com', N'0922222222', 1, CAST(N'2000-01-20' AS Date), 1, 0, CAST(N'2026-02-14T23:39:56.5867575' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[khach_hang] ([id], [ten_khach_hang], [ten_tai_khoan], [mat_khau], [email], [so_dien_thoai], [gioi_tinh], [ngay_sinh], [trang_thai], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat], [anh_dai_dien]) VALUES (3, N'Lê Thị C', N'khc', N'123456', N'khc.c@gmail.com', N'0933333333', 0, CAST(N'2001-08-15' AS Date), 1, 0, CAST(N'2026-02-14T23:39:56.5867575' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[kich_thuoc] ON 

INSERT [dbo].[kich_thuoc] ([id], [ten_kich_thuoc], [gia_tri_kich_thuoc], [trang_thai], [xoa_mem]) VALUES (1, N'38', CAST(38.0 AS Decimal(4, 1)), 1, 0)
INSERT [dbo].[kich_thuoc] ([id], [ten_kich_thuoc], [gia_tri_kich_thuoc], [trang_thai], [xoa_mem]) VALUES (2, N'39', CAST(39.0 AS Decimal(4, 1)), 1, 0)
INSERT [dbo].[kich_thuoc] ([id], [ten_kich_thuoc], [gia_tri_kich_thuoc], [trang_thai], [xoa_mem]) VALUES (3, N'40', CAST(40.0 AS Decimal(4, 1)), 1, 0)
SET IDENTITY_INSERT [dbo].[kich_thuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_su_hoa_don] ON 

INSERT [dbo].[lich_su_hoa_don] ([id], [id_hoa_don], [trang_thai], [thoi_gian], [ghi_chu], [xoa_mem]) VALUES (1, 1, 6, CAST(N'2026-02-14T23:39:56.8250910' AS DateTime2), N'Hoàn thành', 0)
INSERT [dbo].[lich_su_hoa_don] ([id], [id_hoa_don], [trang_thai], [thoi_gian], [ghi_chu], [xoa_mem]) VALUES (2, 2, 1, CAST(N'2026-02-14T23:39:56.8250910' AS DateTime2), N'Chờ xác nhận', 0)
INSERT [dbo].[lich_su_hoa_don] ([id], [id_hoa_don], [trang_thai], [thoi_gian], [ghi_chu], [xoa_mem]) VALUES (3, 3, 1, CAST(N'2026-02-15T23:31:27.9012722' AS DateTime2), N'Khách hàng đặt hàng online', 0)
SET IDENTITY_INSERT [dbo].[lich_su_hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[loai_san] ON 

INSERT [dbo].[loai_san] ([id], [ten_loai_san], [trang_thai], [xoa_mem]) VALUES (1, N'Sân cỏ tự nhiên (FG)', 1, 0)
INSERT [dbo].[loai_san] ([id], [ten_loai_san], [trang_thai], [xoa_mem]) VALUES (2, N'Sân cỏ nhân tạo (TF)', 1, 0)
INSERT [dbo].[loai_san] ([id], [ten_loai_san], [trang_thai], [xoa_mem]) VALUES (3, N'Sân futsal (IC)', 1, 0)
SET IDENTITY_INSERT [dbo].[loai_san] OFF
GO
SET IDENTITY_INSERT [dbo].[mau_sac] ON 

INSERT [dbo].[mau_sac] ([id], [ten_mau_sac], [ma_mau_hex], [trang_thai], [xoa_mem]) VALUES (1, N'Đen', N'#111827', 1, 0)
INSERT [dbo].[mau_sac] ([id], [ten_mau_sac], [ma_mau_hex], [trang_thai], [xoa_mem]) VALUES (2, N'Trắng', N'#FFFFFF', 1, 0)
INSERT [dbo].[mau_sac] ([id], [ten_mau_sac], [ma_mau_hex], [trang_thai], [xoa_mem]) VALUES (3, N'Đỏ', N'#DC2626', 1, 0)
SET IDENTITY_INSERT [dbo].[mau_sac] OFF
GO
SET IDENTITY_INSERT [dbo].[nhan_vien] ON 

INSERT [dbo].[nhan_vien] ([id], [id_quyen_han], [ten_nhan_vien], [ten_tai_khoan], [mat_khau], [email], [so_dien_thoai], [anh_nhan_vien], [ngay_sinh], [ghi_chu], [thanh_pho], [quan], [phuong], [dia_chi_cu_the], [trang_thai], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (1, 1, N'Quản trị hệ thống', N'admin', N'123456', N'admin@sevenstrike.vn', N'0900000001', NULL, NULL, NULL, N'Hà Nội', N'Đống Đa', N'Phường Láng Hạ', N'S? 1 Demo', 1, 0, CAST(N'2026-02-14T23:39:56.5857117' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[nhan_vien] ([id], [id_quyen_han], [ten_nhan_vien], [ten_tai_khoan], [mat_khau], [email], [so_dien_thoai], [anh_nhan_vien], [ngay_sinh], [ghi_chu], [thanh_pho], [quan], [phuong], [dia_chi_cu_the], [trang_thai], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (2, 2, N'Nhân viên bán hàng', N'nvbanhang', N'123456', N'nvbanhang@sevenstrike.vn', N'0900000002', NULL, NULL, NULL, N'Hà Nội', N'Cầu Giấy', N'Phường Dịch Vọng', N'S? 2 Demo', 1, 0, CAST(N'2026-02-14T23:39:56.5857117' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[nhan_vien] OFF
GO
SET IDENTITY_INSERT [dbo].[phieu_giam_gia] ON 

INSERT [dbo].[phieu_giam_gia] ([id], [ten_phieu_giam_gia], [loai_phieu_giam_gia], [gia_tri_giam_gia], [so_tien_giam_toi_da], [hoa_don_toi_thieu], [so_luong_su_dung], [ngay_bat_dau], [ngay_ket_thuc], [trang_thai], [mo_ta], [xoa_mem]) VALUES (1, N'PGG 10% - Tối đa 200K', 0, CAST(10.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), 9999, CAST(N'2026-02-13' AS Date), CAST(N'2026-03-16' AS Date), 1, N'Public', 0)
INSERT [dbo].[phieu_giam_gia] ([id], [ten_phieu_giam_gia], [loai_phieu_giam_gia], [gia_tri_giam_gia], [so_tien_giam_toi_da], [hoa_don_toi_thieu], [so_luong_su_dung], [ngay_bat_dau], [ngay_ket_thuc], [trang_thai], [mo_ta], [xoa_mem]) VALUES (2, N'PGG 100K', 1, CAST(100000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(1500000.00 AS Decimal(18, 2)), 9999, CAST(N'2026-02-13' AS Date), CAST(N'2026-03-16' AS Date), 1, N'Public', 0)
INSERT [dbo].[phieu_giam_gia] ([id], [ten_phieu_giam_gia], [loai_phieu_giam_gia], [gia_tri_giam_gia], [so_tien_giam_toi_da], [hoa_don_toi_thieu], [so_luong_su_dung], [ngay_bat_dau], [ngay_ket_thuc], [trang_thai], [mo_ta], [xoa_mem]) VALUES (3, N'PGG Cá nhân 15%', 0, CAST(15.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), CAST(800000.00 AS Decimal(18, 2)), 3, CAST(N'2026-02-13' AS Date), CAST(N'2026-03-01' AS Date), 1, N'Private', 0)
SET IDENTITY_INSERT [dbo].[phieu_giam_gia] OFF
GO
SET IDENTITY_INSERT [dbo].[phieu_giam_gia_ca_nhan] ON 

INSERT [dbo].[phieu_giam_gia_ca_nhan] ([id], [id_khach_hang], [id_phieu_giam_gia], [ngay_nhan], [da_su_dung], [xoa_mem], [da_gui_mail], [ngay_gui_mail]) VALUES (1, 1, 3, CAST(N'2026-02-14' AS Date), 0, 0, 0, NULL)
INSERT [dbo].[phieu_giam_gia_ca_nhan] ([id], [id_khach_hang], [id_phieu_giam_gia], [ngay_nhan], [da_su_dung], [xoa_mem], [da_gui_mail], [ngay_gui_mail]) VALUES (2, 2, 3, CAST(N'2026-02-14' AS Date), 0, 0, 0, NULL)
INSERT [dbo].[phieu_giam_gia_ca_nhan] ([id], [id_khach_hang], [id_phieu_giam_gia], [ngay_nhan], [da_su_dung], [xoa_mem], [da_gui_mail], [ngay_gui_mail]) VALUES (3, 3, 3, CAST(N'2026-02-14' AS Date), 0, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[phieu_giam_gia_ca_nhan] OFF
GO
SET IDENTITY_INSERT [dbo].[phieu_giam_gia_chi_tiet] ON 

INSERT [dbo].[phieu_giam_gia_chi_tiet] ([id], [id_phieu_giam_gia], [id_khach_hang], [xoa_mem]) VALUES (1, 3, 1, 0)
INSERT [dbo].[phieu_giam_gia_chi_tiet] ([id], [id_phieu_giam_gia], [id_khach_hang], [xoa_mem]) VALUES (2, 3, 2, 0)
INSERT [dbo].[phieu_giam_gia_chi_tiet] ([id], [id_phieu_giam_gia], [id_khach_hang], [xoa_mem]) VALUES (3, 3, 3, 0)
SET IDENTITY_INSERT [dbo].[phieu_giam_gia_chi_tiet] OFF
GO
SET IDENTITY_INSERT [dbo].[phong_cach_choi] ON 

INSERT [dbo].[phong_cach_choi] ([id], [ten_phong_cach], [trang_thai], [xoa_mem]) VALUES (1, N'Tốc độ', 1, 0)
INSERT [dbo].[phong_cach_choi] ([id], [ten_phong_cach], [trang_thai], [xoa_mem]) VALUES (2, N'Kỹ thuật', 1, 0)
INSERT [dbo].[phong_cach_choi] ([id], [ten_phong_cach], [trang_thai], [xoa_mem]) VALUES (3, N'Sức mạnh', 1, 0)
SET IDENTITY_INSERT [dbo].[phong_cach_choi] OFF
GO
SET IDENTITY_INSERT [dbo].[phuong_thuc_thanh_toan] ON 

INSERT [dbo].[phuong_thuc_thanh_toan] ([id], [ten_phuong_thuc_thanh_toan], [nha_cung_cap], [trang_thai], [xoa_mem]) VALUES (1, N'Tiền mặt', N'TAI_QUAY', 1, 0)
INSERT [dbo].[phuong_thuc_thanh_toan] ([id], [ten_phuong_thuc_thanh_toan], [nha_cung_cap], [trang_thai], [xoa_mem]) VALUES (2, N'Chuyển khoản', N'BANK', 1, 0)
INSERT [dbo].[phuong_thuc_thanh_toan] ([id], [ten_phuong_thuc_thanh_toan], [nha_cung_cap], [trang_thai], [xoa_mem]) VALUES (3, N'VNPay', N'VNPAY', 1, 0)
SET IDENTITY_INSERT [dbo].[phuong_thuc_thanh_toan] OFF
GO
SET IDENTITY_INSERT [dbo].[quyen_han] ON 

INSERT [dbo].[quyen_han] ([id], [ten_quyen_han], [trang_thai], [xoa_mem]) VALUES (1, N'ADMIN', 1, 0)
INSERT [dbo].[quyen_han] ([id], [ten_quyen_han], [trang_thai], [xoa_mem]) VALUES (2, N'NHAN_VIEN', 1, 0)
SET IDENTITY_INSERT [dbo].[quyen_han] OFF
GO
SET IDENTITY_INSERT [dbo].[san_pham] ON 

INSERT [dbo].[san_pham] ([id], [id_thuong_hieu], [id_xuat_xu], [id_vi_tri_thi_dau], [id_phong_cach_choi], [id_co_giay], [id_chat_lieu], [ten_san_pham], [mo_ta_ngan], [mo_ta_chi_tiet], [trang_thai_kinh_doanh], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (1, 1, 1, 1, 1, 1, 1, N'Nike Mercurial Vapor 15 Pro', N'Giày tốc độ, bám sân tốt', N'Mô tả...', 1, 0, CAST(N'2026-02-14T23:39:56.6262283' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[san_pham] ([id], [id_thuong_hieu], [id_xuat_xu], [id_vi_tri_thi_dau], [id_phong_cach_choi], [id_co_giay], [id_chat_lieu], [ten_san_pham], [mo_ta_ngan], [mo_ta_chi_tiet], [trang_thai_kinh_doanh], [xoa_mem], [ngay_tao], [nguoi_tao], [ngay_cap_nhat], [nguoi_cap_nhat]) VALUES (2, 2, 2, 1, 1, 1, 1, N'Adidas X Crazyfast.1', N'Giày nhẹ, bứt tốc', N'Mô tả...', 1, 0, CAST(N'2026-02-14T23:39:56.6262283' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[san_pham] OFF
GO
SET IDENTITY_INSERT [dbo].[thuong_hieu] ON 

INSERT [dbo].[thuong_hieu] ([id], [ten_thuong_hieu], [trang_thai], [xoa_mem]) VALUES (1, N'Nike', 1, 0)
INSERT [dbo].[thuong_hieu] ([id], [ten_thuong_hieu], [trang_thai], [xoa_mem]) VALUES (2, N'Adidas', 1, 0)
INSERT [dbo].[thuong_hieu] ([id], [ten_thuong_hieu], [trang_thai], [xoa_mem]) VALUES (3, N'Puma', 1, 0)
SET IDENTITY_INSERT [dbo].[thuong_hieu] OFF
GO
SET IDENTITY_INSERT [dbo].[vi_tri_thi_dau] ON 

INSERT [dbo].[vi_tri_thi_dau] ([id], [ten_vi_tri], [trang_thai], [xoa_mem]) VALUES (1, N'Tiền đạo', 1, 0)
INSERT [dbo].[vi_tri_thi_dau] ([id], [ten_vi_tri], [trang_thai], [xoa_mem]) VALUES (2, N'Tiền vệ', 1, 0)
INSERT [dbo].[vi_tri_thi_dau] ([id], [ten_vi_tri], [trang_thai], [xoa_mem]) VALUES (3, N'Hậu vệ', 1, 0)
SET IDENTITY_INSERT [dbo].[vi_tri_thi_dau] OFF
GO
SET IDENTITY_INSERT [dbo].[xuat_xu] ON 

INSERT [dbo].[xuat_xu] ([id], [ten_xuat_xu], [trang_thai], [xoa_mem]) VALUES (1, N'Việt Nam', 1, 0)
INSERT [dbo].[xuat_xu] ([id], [ten_xuat_xu], [trang_thai], [xoa_mem]) VALUES (2, N'Nhật Bản', 1, 0)
INSERT [dbo].[xuat_xu] ([id], [ten_xuat_xu], [trang_thai], [xoa_mem]) VALUES (3, N'Thái Lan', 1, 0)
SET IDENTITY_INSERT [dbo].[xuat_xu] OFF
GO
/****** Object:  Index [IX_anh_ctsp_dai_dien_pick]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_anh_ctsp_dai_dien_pick] ON [dbo].[anh_chi_tiet_san_pham]
(
	[id_chi_tiet_san_pham] ASC
)
INCLUDE([duong_dan_anh]) 
WHERE ([xoa_mem]=(0) AND [la_anh_dai_dien]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_anh_ctsp_dai_dien_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_anh_ctsp_dai_dien_alive] ON [dbo].[anh_chi_tiet_san_pham]
(
	[id_chi_tiet_san_pham] ASC
)
WHERE ([la_anh_dai_dien]=(1) AND [xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_ctdgg_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ctdgg_alive] ON [dbo].[chi_tiet_dot_giam_gia]
(
	[id_dot_giam_gia] ASC,
	[id_chi_tiet_san_pham] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_ctsp_ma_ctsp_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_ctsp_ma_ctsp_alive] ON [dbo].[chi_tiet_san_pham]
(
	[ma_chi_tiet_san_pham] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ctsp_pick_thumb]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_ctsp_pick_thumb] ON [dbo].[chi_tiet_san_pham]
(
	[id_san_pham] ASC,
	[trang_thai] ASC,
	[so_luong] ASC,
	[id] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_ctsp_variant_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ctsp_variant_alive] ON [dbo].[chi_tiet_san_pham]
(
	[id_san_pham] ASC,
	[id_mau_sac] ASC,
	[id_kich_thuoc] ASC,
	[id_loai_san] ASC,
	[id_form_chan] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_chuc_nang_ma_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_chuc_nang_ma_alive] ON [dbo].[chuc_nang]
(
	[ma_chuc_nang] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_dckh_mac_dinh_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_dckh_mac_dinh_alive] ON [dbo].[dia_chi_khach_hang]
(
	[id_khach_hang] ASC
)
WHERE ([mac_dinh]=(1) AND [xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_gc_llv_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_gc_llv_alive] ON [dbo].[giao_ca]
(
	[id_lich_lam_viec] ASC,
	[trang_thai] ASC,
	[id] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_gc_nv_dang_hoat_dong_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_gc_nv_dang_hoat_dong_alive] ON [dbo].[giao_ca]
(
	[id_nhan_vien] ASC
)
WHERE ([xoa_mem]=(0) AND [trang_thai]=(0) AND [thoi_gian_ket_ca] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_gdtt_hd_time_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_gdtt_hd_time_alive] ON [dbo].[giao_dich_thanh_toan]
(
	[id_hoa_don] ASC,
	[thoi_gian_tao] ASC,
	[id] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hd_giao_ca_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_hd_giao_ca_alive] ON [dbo].[hoa_don]
(
	[id_giao_ca] ASC,
	[ngay_tao] ASC,
	[id] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hd_trang_thai_ngay_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_hd_trang_thai_ngay_alive] ON [dbo].[hoa_don]
(
	[trang_thai_hien_tai] ASC,
	[ngay_tao] ASC,
	[id] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hdct_hd_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_hdct_hd_alive] ON [dbo].[hoa_don_chi_tiet]
(
	[id_hoa_don] ASC,
	[id_chi_tiet_san_pham] ASC,
	[id] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_kh_email_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_kh_email_alive] ON [dbo].[khach_hang]
(
	[email] ASC
)
WHERE ([xoa_mem]=(0) AND [email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_kh_ten_tai_khoan_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_kh_ten_tai_khoan_alive] ON [dbo].[khach_hang]
(
	[ten_tai_khoan] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_kich_thuoc_value_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_kich_thuoc_value_alive] ON [dbo].[kich_thuoc]
(
	[gia_tri_kich_thuoc] ASC
)
WHERE ([xoa_mem]=(0) AND [gia_tri_kich_thuoc] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_llv_ngay_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_llv_ngay_alive] ON [dbo].[lich_lam_viec]
(
	[ngay_lam] ASC,
	[id_ca_lam] ASC,
	[id] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_llv_ca_ngay_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_llv_ca_ngay_alive] ON [dbo].[lich_lam_viec]
(
	[id_ca_lam] ASC,
	[ngay_lam] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_llvnv_nv_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_llvnv_nv_alive] ON [dbo].[lich_lam_viec_nhan_vien]
(
	[id_nhan_vien] ASC,
	[id_lich_lam_viec] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_llvnv_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_llvnv_alive] ON [dbo].[lich_lam_viec_nhan_vien]
(
	[id_lich_lam_viec] ASC,
	[id_nhan_vien] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lshd_hd_time_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_lshd_hd_time_alive] ON [dbo].[lich_su_hoa_don]
(
	[id_hoa_don] ASC,
	[thoi_gian] ASC,
	[id] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_mau_sac_hex_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_mau_sac_hex_alive] ON [dbo].[mau_sac]
(
	[ma_mau_hex] ASC
)
WHERE ([xoa_mem]=(0) AND [ma_mau_hex] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_nv_email_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_nv_email_alive] ON [dbo].[nhan_vien]
(
	[email] ASC
)
WHERE ([xoa_mem]=(0) AND [email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_nv_ten_tai_khoan_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_nv_ten_tai_khoan_alive] ON [dbo].[nhan_vien]
(
	[ten_tai_khoan] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_pggcn_combo]    Script Date: 2/21/2026 11:22:45 PM ******/
ALTER TABLE [dbo].[phieu_giam_gia_ca_nhan] ADD  CONSTRAINT [UQ_pggcn_combo] UNIQUE NONCLUSTERED 
(
	[id] ASC,
	[id_khach_hang] ASC,
	[id_phieu_giam_gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pggcn_gui_mail_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_pggcn_gui_mail_alive] ON [dbo].[phieu_giam_gia_ca_nhan]
(
	[id_phieu_giam_gia] ASC,
	[da_gui_mail] ASC,
	[id_khach_hang] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_pggcn_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_pggcn_alive] ON [dbo].[phieu_giam_gia_ca_nhan]
(
	[id_khach_hang] ASC,
	[id_phieu_giam_gia] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_pggct_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_pggct_alive] ON [dbo].[phieu_giam_gia_chi_tiet]
(
	[id_khach_hang] ASC,
	[id_phieu_giam_gia] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_qhcn_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_qhcn_alive] ON [dbo].[quyen_han_chuc_nang]
(
	[id_quyen_han] ASC,
	[id_chuc_nang] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_sp_ma_sp_alive]    Script Date: 2/21/2026 11:22:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_sp_ma_sp_alive] ON [dbo].[san_pham]
(
	[ma_san_pham] ASC
)
WHERE ([xoa_mem]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[anh_chi_tiet_san_pham] ADD  DEFAULT ((0)) FOR [la_anh_dai_dien]
GO
ALTER TABLE [dbo].[anh_chi_tiet_san_pham] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[ca_lam] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[ca_lam] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[chat_lieu] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[chat_lieu] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[chi_tiet_san_pham] ADD  DEFAULT ((0)) FOR [so_luong]
GO
ALTER TABLE [dbo].[chi_tiet_san_pham] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[chi_tiet_san_pham] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[chi_tiet_san_pham] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[chuc_nang] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[chuc_nang] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[co_giay] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[co_giay] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[dia_chi_khach_hang] ADD  DEFAULT ((0)) FOR [mac_dinh]
GO
ALTER TABLE [dbo].[dia_chi_khach_hang] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[dot_giam_gia] ADD  DEFAULT ((0)) FOR [loai_giam_gia]
GO
ALTER TABLE [dbo].[dot_giam_gia] ADD  DEFAULT ((0)) FOR [muc_uu_tien]
GO
ALTER TABLE [dbo].[dot_giam_gia] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[dot_giam_gia] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[form_chan] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[form_chan] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[giao_ca] ADD  DEFAULT (sysdatetime()) FOR [thoi_gian_nhan_ca]
GO
ALTER TABLE [dbo].[giao_ca] ADD  DEFAULT ((0)) FOR [tien_ban_giao_du_kien]
GO
ALTER TABLE [dbo].[giao_ca] ADD  DEFAULT ((0)) FOR [da_xac_nhan_tien_dau_ca]
GO
ALTER TABLE [dbo].[giao_ca] ADD  DEFAULT ((0)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[giao_ca] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[giao_ca] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan] ADD  DEFAULT (N'khoi_tao') FOR [trang_thai]
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan] ADD  DEFAULT (sysdatetime()) FOR [thoi_gian_tao]
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((0)) FOR [loai_don]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((0)) FOR [phi_van_chuyen]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((1)) FOR [trang_thai_hien_tai]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[hoa_don_chi_tiet] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[khach_hang] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[khach_hang] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[khach_hang] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[kich_thuoc] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[kich_thuoc] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[lich_lam_viec] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[lich_lam_viec] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[lich_lam_viec_nhan_vien] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[lich_lam_viec_nhan_vien] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[lich_su_hoa_don] ADD  DEFAULT (sysdatetime()) FOR [thoi_gian]
GO
ALTER TABLE [dbo].[lich_su_hoa_don] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[loai_san] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[loai_san] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[mau_sac] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[mau_sac] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[nhan_vien] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[nhan_vien] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[nhan_vien] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[phieu_giam_gia] ADD  DEFAULT ((0)) FOR [loai_phieu_giam_gia]
GO
ALTER TABLE [dbo].[phieu_giam_gia] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[phieu_giam_gia] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[phieu_giam_gia_ca_nhan] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ngay_nhan]
GO
ALTER TABLE [dbo].[phieu_giam_gia_ca_nhan] ADD  DEFAULT ((0)) FOR [da_su_dung]
GO
ALTER TABLE [dbo].[phieu_giam_gia_ca_nhan] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[phieu_giam_gia_ca_nhan] ADD  DEFAULT ((0)) FOR [da_gui_mail]
GO
ALTER TABLE [dbo].[phieu_giam_gia_chi_tiet] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[phong_cach_choi] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[phong_cach_choi] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[phuong_thuc_thanh_toan] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[phuong_thuc_thanh_toan] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[quyen_han] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[quyen_han] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[quyen_han_chuc_nang] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[san_pham] ADD  DEFAULT ((1)) FOR [trang_thai_kinh_doanh]
GO
ALTER TABLE [dbo].[san_pham] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[san_pham] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[thuong_hieu] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[thuong_hieu] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[vi_tri_thi_dau] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[vi_tri_thi_dau] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[xuat_xu] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[xuat_xu] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[anh_chi_tiet_san_pham]  WITH CHECK ADD  CONSTRAINT [FK_anh_ctsp] FOREIGN KEY([id_chi_tiet_san_pham])
REFERENCES [dbo].[chi_tiet_san_pham] ([id])
GO
ALTER TABLE [dbo].[anh_chi_tiet_san_pham] CHECK CONSTRAINT [FK_anh_ctsp]
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia]  WITH CHECK ADD  CONSTRAINT [FK_ctdgg_ctsp] FOREIGN KEY([id_chi_tiet_san_pham])
REFERENCES [dbo].[chi_tiet_san_pham] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia] CHECK CONSTRAINT [FK_ctdgg_ctsp]
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia]  WITH CHECK ADD  CONSTRAINT [FK_ctdgg_dgg] FOREIGN KEY([id_dot_giam_gia])
REFERENCES [dbo].[dot_giam_gia] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia] CHECK CONSTRAINT [FK_ctdgg_dgg]
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD  CONSTRAINT [FK_ctsp_fc] FOREIGN KEY([id_form_chan])
REFERENCES [dbo].[form_chan] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham] CHECK CONSTRAINT [FK_ctsp_fc]
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD  CONSTRAINT [FK_ctsp_kt] FOREIGN KEY([id_kich_thuoc])
REFERENCES [dbo].[kich_thuoc] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham] CHECK CONSTRAINT [FK_ctsp_kt]
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD  CONSTRAINT [FK_ctsp_ls] FOREIGN KEY([id_loai_san])
REFERENCES [dbo].[loai_san] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham] CHECK CONSTRAINT [FK_ctsp_ls]
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD  CONSTRAINT [FK_ctsp_ms] FOREIGN KEY([id_mau_sac])
REFERENCES [dbo].[mau_sac] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham] CHECK CONSTRAINT [FK_ctsp_ms]
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD  CONSTRAINT [FK_ctsp_sp] FOREIGN KEY([id_san_pham])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham] CHECK CONSTRAINT [FK_ctsp_sp]
GO
ALTER TABLE [dbo].[dia_chi_khach_hang]  WITH CHECK ADD  CONSTRAINT [FK_dckh_kh] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[dia_chi_khach_hang] CHECK CONSTRAINT [FK_dckh_kh]
GO
ALTER TABLE [dbo].[giao_ca]  WITH CHECK ADD  CONSTRAINT [FK_gc_llv] FOREIGN KEY([id_lich_lam_viec])
REFERENCES [dbo].[lich_lam_viec] ([id])
GO
ALTER TABLE [dbo].[giao_ca] CHECK CONSTRAINT [FK_gc_llv]
GO
ALTER TABLE [dbo].[giao_ca]  WITH CHECK ADD  CONSTRAINT [FK_gc_nv] FOREIGN KEY([id_nhan_vien])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[giao_ca] CHECK CONSTRAINT [FK_gc_nv]
GO
ALTER TABLE [dbo].[giao_ca]  WITH CHECK ADD  CONSTRAINT [FK_gc_truoc] FOREIGN KEY([id_giao_ca_truoc])
REFERENCES [dbo].[giao_ca] ([id])
GO
ALTER TABLE [dbo].[giao_ca] CHECK CONSTRAINT [FK_gc_truoc]
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan]  WITH CHECK ADD  CONSTRAINT [FK_gdtt_hd] FOREIGN KEY([id_hoa_don])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan] CHECK CONSTRAINT [FK_gdtt_hd]
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan]  WITH CHECK ADD  CONSTRAINT [FK_gdtt_pttt] FOREIGN KEY([id_phuong_thuc_thanh_toan])
REFERENCES [dbo].[phuong_thuc_thanh_toan] ([id])
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan] CHECK CONSTRAINT [FK_gdtt_pttt]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hd_giao_ca] FOREIGN KEY([id_giao_ca])
REFERENCES [dbo].[giao_ca] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hd_giao_ca]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hd_kh] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hd_kh]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hd_nv] FOREIGN KEY([id_nhan_vien])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hd_nv]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hd_pgg] FOREIGN KEY([id_phieu_giam_gia])
REFERENCES [dbo].[phieu_giam_gia] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hd_pgg]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hd_pggcn] FOREIGN KEY([id_phieu_giam_gia_ca_nhan])
REFERENCES [dbo].[phieu_giam_gia_ca_nhan] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hd_pggcn]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hd_pggcn_combo] FOREIGN KEY([id_phieu_giam_gia_ca_nhan], [id_khach_hang], [id_phieu_giam_gia])
REFERENCES [dbo].[phieu_giam_gia_ca_nhan] ([id], [id_khach_hang], [id_phieu_giam_gia])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hd_pggcn_combo]
GO
ALTER TABLE [dbo].[hoa_don_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FK_hdct_ctsp] FOREIGN KEY([id_chi_tiet_san_pham])
REFERENCES [dbo].[chi_tiet_san_pham] ([id])
GO
ALTER TABLE [dbo].[hoa_don_chi_tiet] CHECK CONSTRAINT [FK_hdct_ctsp]
GO
ALTER TABLE [dbo].[hoa_don_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FK_hdct_hd] FOREIGN KEY([id_hoa_don])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[hoa_don_chi_tiet] CHECK CONSTRAINT [FK_hdct_hd]
GO
ALTER TABLE [dbo].[lich_lam_viec]  WITH CHECK ADD  CONSTRAINT [FK_llv_ca] FOREIGN KEY([id_ca_lam])
REFERENCES [dbo].[ca_lam] ([id])
GO
ALTER TABLE [dbo].[lich_lam_viec] CHECK CONSTRAINT [FK_llv_ca]
GO
ALTER TABLE [dbo].[lich_lam_viec_nhan_vien]  WITH CHECK ADD  CONSTRAINT [FK_llvnv_llv] FOREIGN KEY([id_lich_lam_viec])
REFERENCES [dbo].[lich_lam_viec] ([id])
GO
ALTER TABLE [dbo].[lich_lam_viec_nhan_vien] CHECK CONSTRAINT [FK_llvnv_llv]
GO
ALTER TABLE [dbo].[lich_lam_viec_nhan_vien]  WITH CHECK ADD  CONSTRAINT [FK_llvnv_nv] FOREIGN KEY([id_nhan_vien])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[lich_lam_viec_nhan_vien] CHECK CONSTRAINT [FK_llvnv_nv]
GO
ALTER TABLE [dbo].[lich_su_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_lshd_hd] FOREIGN KEY([id_hoa_don])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[lich_su_hoa_don] CHECK CONSTRAINT [FK_lshd_hd]
GO
ALTER TABLE [dbo].[nhan_vien]  WITH CHECK ADD  CONSTRAINT [FK_nv_qh] FOREIGN KEY([id_quyen_han])
REFERENCES [dbo].[quyen_han] ([id])
GO
ALTER TABLE [dbo].[nhan_vien] CHECK CONSTRAINT [FK_nv_qh]
GO
ALTER TABLE [dbo].[phieu_giam_gia_ca_nhan]  WITH CHECK ADD  CONSTRAINT [FK_pggcn_kh] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[phieu_giam_gia_ca_nhan] CHECK CONSTRAINT [FK_pggcn_kh]
GO
ALTER TABLE [dbo].[phieu_giam_gia_ca_nhan]  WITH CHECK ADD  CONSTRAINT [FK_pggcn_pgg] FOREIGN KEY([id_phieu_giam_gia])
REFERENCES [dbo].[phieu_giam_gia] ([id])
GO
ALTER TABLE [dbo].[phieu_giam_gia_ca_nhan] CHECK CONSTRAINT [FK_pggcn_pgg]
GO
ALTER TABLE [dbo].[phieu_giam_gia_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FK_pggct_kh] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[phieu_giam_gia_chi_tiet] CHECK CONSTRAINT [FK_pggct_kh]
GO
ALTER TABLE [dbo].[phieu_giam_gia_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FK_pggct_pgg] FOREIGN KEY([id_phieu_giam_gia])
REFERENCES [dbo].[phieu_giam_gia] ([id])
GO
ALTER TABLE [dbo].[phieu_giam_gia_chi_tiet] CHECK CONSTRAINT [FK_pggct_pgg]
GO
ALTER TABLE [dbo].[quyen_han_chuc_nang]  WITH CHECK ADD  CONSTRAINT [FK_qhcn_cn] FOREIGN KEY([id_chuc_nang])
REFERENCES [dbo].[chuc_nang] ([id])
GO
ALTER TABLE [dbo].[quyen_han_chuc_nang] CHECK CONSTRAINT [FK_qhcn_cn]
GO
ALTER TABLE [dbo].[quyen_han_chuc_nang]  WITH CHECK ADD  CONSTRAINT [FK_qhcn_qh] FOREIGN KEY([id_quyen_han])
REFERENCES [dbo].[quyen_han] ([id])
GO
ALTER TABLE [dbo].[quyen_han_chuc_nang] CHECK CONSTRAINT [FK_qhcn_qh]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_sp_cg] FOREIGN KEY([id_co_giay])
REFERENCES [dbo].[co_giay] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_sp_cg]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_sp_cl] FOREIGN KEY([id_chat_lieu])
REFERENCES [dbo].[chat_lieu] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_sp_cl]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_sp_pc] FOREIGN KEY([id_phong_cach_choi])
REFERENCES [dbo].[phong_cach_choi] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_sp_pc]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_sp_th] FOREIGN KEY([id_thuong_hieu])
REFERENCES [dbo].[thuong_hieu] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_sp_th]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_sp_vt] FOREIGN KEY([id_vi_tri_thi_dau])
REFERENCES [dbo].[vi_tri_thi_dau] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_sp_vt]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_sp_xx] FOREIGN KEY([id_xuat_xu])
REFERENCES [dbo].[xuat_xu] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_sp_xx]
GO
ALTER TABLE [dbo].[ca_lam]  WITH CHECK ADD  CONSTRAINT [CK_ca_lam_gio] CHECK  (([gio_ket_thuc]>[gio_bat_dau]))
GO
ALTER TABLE [dbo].[ca_lam] CHECK CONSTRAINT [CK_ca_lam_gio]
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia]  WITH CHECK ADD CHECK  (([gia_tri_giam_rieng]>=(0)))
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia]  WITH CHECK ADD CHECK  (([so_luong_ap_dung]>=(0)))
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia]  WITH CHECK ADD CHECK  (([so_tien_giam_toi_da_rieng]>=(0)))
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD CHECK  (([gia_ban]>=(0)))
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD CHECK  (([gia_niem_yet]>=(0)))
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD CHECK  (([so_luong]>=(0)))
GO
ALTER TABLE [dbo].[dot_giam_gia]  WITH CHECK ADD CHECK  (([gia_tri_giam_gia]>=(0)))
GO
ALTER TABLE [dbo].[dot_giam_gia]  WITH CHECK ADD  CONSTRAINT [CK_dgg_chi_phan_tram] CHECK  (([loai_giam_gia]=(0) AND ([gia_tri_giam_gia]>=(0) AND [gia_tri_giam_gia]<=(100))))
GO
ALTER TABLE [dbo].[dot_giam_gia] CHECK CONSTRAINT [CK_dgg_chi_phan_tram]
GO
ALTER TABLE [dbo].[dot_giam_gia]  WITH CHECK ADD  CONSTRAINT [CK_dgg_ngay] CHECK  (([ngay_ket_thuc]>=[ngay_bat_dau]))
GO
ALTER TABLE [dbo].[dot_giam_gia] CHECK CONSTRAINT [CK_dgg_ngay]
GO
ALTER TABLE [dbo].[giao_ca]  WITH CHECK ADD  CONSTRAINT [CK_gc_dong_ca] CHECK  (([trang_thai]=(0) OR [trang_thai]=(1) AND [thoi_gian_ket_ca] IS NOT NULL))
GO
ALTER TABLE [dbo].[giao_ca] CHECK CONSTRAINT [CK_gc_dong_ca]
GO
ALTER TABLE [dbo].[giao_ca]  WITH CHECK ADD  CONSTRAINT [CK_gc_thoi_gian] CHECK  (([thoi_gian_ket_ca] IS NULL OR [thoi_gian_ket_ca]>=[thoi_gian_nhan_ca]))
GO
ALTER TABLE [dbo].[giao_ca] CHECK CONSTRAINT [CK_gc_thoi_gian]
GO
ALTER TABLE [dbo].[giao_ca]  WITH CHECK ADD  CONSTRAINT [CK_gc_tien] CHECK  (([tien_ban_giao_du_kien]>=(0) AND ([tien_dau_ca_nhap] IS NULL OR [tien_dau_ca_nhap]>=(0))))
GO
ALTER TABLE [dbo].[giao_ca] CHECK CONSTRAINT [CK_gc_tien]
GO
ALTER TABLE [dbo].[giao_ca]  WITH CHECK ADD  CONSTRAINT [CK_gc_trang_thai] CHECK  (([trang_thai]=(1) OR [trang_thai]=(0)))
GO
ALTER TABLE [dbo].[giao_ca] CHECK CONSTRAINT [CK_gc_trang_thai]
GO
ALTER TABLE [dbo].[giao_ca]  WITH CHECK ADD  CONSTRAINT [CK_gc_xac_nhan_tien] CHECK  (([da_xac_nhan_tien_dau_ca]=(0) OR [tien_dau_ca_nhap] IS NOT NULL AND [tien_dau_ca_nhap]=[tien_ban_giao_du_kien]))
GO
ALTER TABLE [dbo].[giao_ca] CHECK CONSTRAINT [CK_gc_xac_nhan_tien]
GO
ALTER TABLE [dbo].[giao_dich_thanh_toan]  WITH CHECK ADD CHECK  (([so_tien]>(0)))
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD CHECK  (([phi_van_chuyen]>=(0)))
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD CHECK  (([tong_tien]>=(0)))
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD CHECK  (([tong_tien_sau_giam]>=(0)))
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [CK_hd_thanh_toan] CHECK  (([ngay_thanh_toan] IS NULL OR [ngay_thanh_toan]>=[ngay_tao]))
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [CK_hd_thanh_toan]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [CK_hd_tien] CHECK  (([tong_tien_sau_giam]<=[tong_tien]))
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [CK_hd_tien]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [CK_hd_trang_thai_code] CHECK  (([trang_thai_hien_tai]=(6) OR [trang_thai_hien_tai]=(4) OR [trang_thai_hien_tai]=(3) OR [trang_thai_hien_tai]=(2) OR [trang_thai_hien_tai]=(1)))
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [CK_hd_trang_thai_code]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [CK_hd_voucher_ca_nhan] CHECK  (([id_phieu_giam_gia_ca_nhan] IS NULL OR [id_khach_hang] IS NOT NULL AND [id_phieu_giam_gia] IS NOT NULL))
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [CK_hd_voucher_ca_nhan]
GO
ALTER TABLE [dbo].[hoa_don_chi_tiet]  WITH CHECK ADD CHECK  (([don_gia]>=(0)))
GO
ALTER TABLE [dbo].[hoa_don_chi_tiet]  WITH CHECK ADD CHECK  (([so_luong]>(0)))
GO
ALTER TABLE [dbo].[kich_thuoc]  WITH CHECK ADD  CONSTRAINT [CK_kich_thuoc_range_bong_da_nam] CHECK  (([gia_tri_kich_thuoc] IS NULL OR [gia_tri_kich_thuoc]>=(38.0) AND [gia_tri_kich_thuoc]<=(45.0)))
GO
ALTER TABLE [dbo].[kich_thuoc] CHECK CONSTRAINT [CK_kich_thuoc_range_bong_da_nam]
GO
ALTER TABLE [dbo].[lich_su_hoa_don]  WITH CHECK ADD  CONSTRAINT [CK_lshd_trang_thai_code] CHECK  (([trang_thai]=(6) OR [trang_thai]=(4) OR [trang_thai]=(3) OR [trang_thai]=(2) OR [trang_thai]=(1)))
GO
ALTER TABLE [dbo].[lich_su_hoa_don] CHECK CONSTRAINT [CK_lshd_trang_thai_code]
GO
ALTER TABLE [dbo].[mau_sac]  WITH CHECK ADD  CONSTRAINT [CK_mau_sac_hex_format] CHECK  (([ma_mau_hex] IS NULL OR len([ma_mau_hex])=(7) AND left([ma_mau_hex],(1))='#'))
GO
ALTER TABLE [dbo].[mau_sac] CHECK CONSTRAINT [CK_mau_sac_hex_format]
GO
ALTER TABLE [dbo].[phieu_giam_gia]  WITH CHECK ADD CHECK  (([gia_tri_giam_gia]>=(0)))
GO
ALTER TABLE [dbo].[phieu_giam_gia]  WITH CHECK ADD CHECK  (([hoa_don_toi_thieu]>=(0)))
GO
ALTER TABLE [dbo].[phieu_giam_gia]  WITH CHECK ADD CHECK  (([so_luong_su_dung]>=(0)))
GO
ALTER TABLE [dbo].[phieu_giam_gia]  WITH CHECK ADD CHECK  (([so_tien_giam_toi_da]>=(0)))
GO
ALTER TABLE [dbo].[phieu_giam_gia]  WITH CHECK ADD  CONSTRAINT [CK_pgg_ngay] CHECK  (([ngay_ket_thuc]>=[ngay_bat_dau]))
GO
ALTER TABLE [dbo].[phieu_giam_gia] CHECK CONSTRAINT [CK_pgg_ngay]
GO
ALTER TABLE [dbo].[phieu_giam_gia]  WITH CHECK ADD  CONSTRAINT [CK_pgg_phan_tram] CHECK  (([loai_phieu_giam_gia]=(0) AND ([gia_tri_giam_gia]>=(0) AND [gia_tri_giam_gia]<=(100)) OR [loai_phieu_giam_gia]=(1) AND [gia_tri_giam_gia]>=(0)))
GO
ALTER TABLE [dbo].[phieu_giam_gia] CHECK CONSTRAINT [CK_pgg_phan_tram]
GO
USE [master]
GO
